<h2>Mutual likes with <%= @friend['name'] %></h2>

<% if @intersect_likes.empty? %>

  <i>No shared likes</i>

<% else %>

  <ul>
    <% @intersect_likes.each do |like| %>
      <li><%= like['name'] %></li>
    <% end %>
  </ul>

<% end %>

<br>

<%= link_to "Back to friends", friends_path %>
